<footer>
  <span>
    [↗]:
    <a target="_blank" rel="noreferrer" href="mailto:{{ site.email }}">Email</a>,
    <a target="_blank" rel="noreferrer" href="https://github.com/barnabykina">GitHub</a>,
    <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/barnabykina">LinkedIn</a>,
    <!-- <a target="_blank" rel="noreferrer" href="https://www.instagram.com/kina_the1/">Instagram</a> -->
    <!-- <a target="_blank" rel="noreferrer" href="https://soundcloud.com/barnabykina">SoundCloud</a> -->
    <!-- <a target="_blank" rel="noreferrer" href="https://barnabykina.substack.com/">SubStack</a> -->
    <a target="_blank" rel="noreferrer" href="https://www.youtube.com/@barnabykina">YouTube</a>
    <!-- <a target="_blank" rel="noreferrer" href="{{ '/rss.xml' | absolute_url }}">RSS</a> -->
  </span>
  <span class="footer-updated">Last updated: {{ site.time | format_in_timezone: site.timezone, "%B %-d, %Y, %-I:%M %p [%Z]" }}</span>
</footer>
